<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Import stylesheet pakai jinja -->
    <link rel="stylesheet" href="{% static 'status/status.css' %}">
</head>
<body>

    <div>

        <!-- TODO: Render form django -->
        <form action="{% url 'status:status_page' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Post!">
        </form>

        <!-- TODO: Render semua status yang udah diposting -->
        {% for status in statuses %}
            <h4>{{status.name}}</h4>
            <p>{{status.status}}</p>
        {% endfor %}

    </div>

</body>
</html>