<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>

    <!-- Import stylesheet pakai jinja -->
    <link rel="stylesheet" href="{% static 'example/example.css' %}">
</head>
<body>
    <div>
        <h1>Using regular HTML approach</h1>

        <!-- Using regular HTML approach -->
        <p>Favorite Subject:</p>

        <form action="#" method="post">
            <input type="checkbox" id="subject1" name="subject1" value="MPKTB">
            <label for="subject1">MPKT B</label><br>
            <input type="checkbox" id="subject2" name="subject2" value="DDP1">
            <label for="subject2">DDP 1</label><br>
            <input type="checkbox" id="subject3" name="subject3" value="MATDAS">
            <label for="subject3">MATDAS</label><br>
            <input type="checkbox" id="subject4" name="subject4" value="FISDAS">
            <label for="subject4">FISDAS</label><br>
            <input type="checkbox" id="subject5" name="subject5" value="PSD">
            <label for="subject5">PSD</label><br>
            <input type="checkbox" id="subject6" name="subject6" value="ALIN">
            <label for="subject6">ALIN</label><br>
            <input type="checkbox" id="subject7" name="subject7" value="PPW">
            <label for="subject7">PPW</label><br>


            <input type="submit" disabled="disabled">
        </form>
    </div>

    <div>
        <h1>Using Django built in form API</h1>

        <!-- Using Django built in form API -->
        <form action="#" method="post">
            {% csrf_token %}
            {{ form }}

            <input type="submit" disabled="disabled">
        </form>
    </div>

    <div>
        <h1>For another example, please visit the following links</h1>

    </div>
</body>
</html>